@media screen and (min-width: 768px) {
    #frame {
        display: grid;
        grid-template-columns: 3fr 1fr;
        column-gap: 2px;
    }
    #container {
        max-width: 100%;
        height: 70vh;
        margin: auto;
    }
    .survey {
        iframe {
            width: 100%;
            height: 28vh;
            border: none;
        }
    }
}

#container {
    max-width: 100%;
    height: 98vh;
    margin: auto;
}

.survey {
    iframe {
        width: 100%;
        height: 98vh;
        border: none;
    }

    &.open {
        
    }
}

#legend {
    position: absolute;
    top: 0px;
    left: 0px;
    background: #000000bf;
    border-radius: 6px;
    border-style: solid;
    padding: 6px;
    color: white;
    h3 {
        margin-top: 2px;
        margin-bottom: 2px;
        text-align: center;
    }
    p {
        margin-top: 2px;
        margin-bottom: 2px;
    }
}

.red-dot {
    font-size: xx-large;
    color: red;
    margin: 6px;
}

.black-dot {
    font-size: xx-large;
    color: black;
    margin: 6px;
}

#feedback {
    position: absolute;
    top: 0px;
    right: 0px;

    button {
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;

        &.blue {
            background-color: #008cba;
            display: block;
        }

        &.red {
            background-color: red;
            display: none;
        }
    }
}