html {
  scroll-behavior: smooth;
}

@media screen and (min-width: 1024px) {
  #container.survey_open {
    width: 65%;
    float: left;
  }
  #container.survey_close {
    width: 100%;
    float: left;
  }

  #survey.survey_open {
    width: 35%;
    float: right;
    display: block;
  }
  #survey.survey_close {
    display: none;
  }
  #survey iframe {
    width: 100%;
    height: 98vh;
    border: none;
  }
}
#container {
  max-width: 100%;
  height: 98vh;
  margin: auto;
}

#survey {
  width: 100%;
}
#survey iframe {
  width: 100%;
  height: 98vh;
  border: none;
}

#legend {
  position: absolute;
  bottom: 0px;
  left: 0px;
  background: #000000bf;
  border-radius: 6px;
  border-style: solid;
  padding: 6px;
  color: white;
}
#legend h3 {
  margin-top: 2px;
  margin-bottom: 2px;
  text-align: center;
}
#legend p {
  margin-top: 2px;
  margin-bottom: 2px;
}

.blue-dot {
  font-size: xx-large;
  color: blue;
  margin: 6px;
}

.black-dot {
  font-size: xx-large;
  color: black;
  margin: 6px;
}

#feedback {
  position: absolute;
  top: 0px;
  right: 0px;
}
#feedback.survey_close button.blue {
  display: block;
}
#feedback.survey_close button.red {
  display: none;
}
#feedback.survey_open button.blue {
  display: none;
}
#feedback.survey_open button.red {
  display: block;
}
#feedback button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
#feedback button.blue {
  background-color: #008cba;
  display: block;
}
#feedback button.red {
  background-color: red;
  display: none;
}